.text{
    -fx-font-family: "Segoe UI";

}

.image_view{
    -fx-background-radius: 20;
    -fx-border-radius: 20
}

.nav-form{
    -fx-background-color:linear-gradient(to top, #A75D5D, #F0997D)
}

.nav-btn{
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-alignment:CENTER_LEFT;
}

.nav-btn-clicked{
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-cursor:hand;
}

.nav-btn:hover{
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-cursor:hand;
}

.main-pane{
    -fx-background-color: #fff;
    -fx-background-radius: 20px;
}

.card{
    -fx-background-color: linear-gradient(to bottom, #A75D5D, #F0997D);
    -fx-background-radius: 20px;
}

.scroll-pane{
    -fx-background-radius: 20px;
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.chart-legend-item{
    -fx-font-size: 12px;
    -fx-text-fill: #505050;
}

.chart-title {
    -fx-text-fill: #fff;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 0
}

.chart-pie{
    -fx-background-color: #fff;
    -fx-opacity: .9
}

.chart-pie-label{
    -fx-fill: #fff;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12px;
}

.default-color0.chart-bar { -fx-bar-fill: #fff; -fx-opacity: .9}
.default-color1.chart-bar { -fx-bar-fill: #fff; -fx-opacity: .9}

.axis-label {
    -fx-font-size: 12px;
    -fx-text-fill: #505050;
}

.axis {
    -fx-font-size: 12px;    
    -fx-tick-label-fill: #505050;
    -fx-font-family:"Segoe UI";
}

.header-label{
    -fx-font-family: "Segoe UI";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #A75D5D
}

.tool-button{
    -fx-background-color: #A75D5D;
    -fx-background-radius: 5;
    -fx-border-width: .4;
    -fx-border-radius: 5;
    -fx-border-color: transparent;
    -fx-font-family: Segoe UI;
    -fx-font-weight: bold;
    -fx-text-fill: #fff
}

.tool-button:hover{
    -fx-cursor: hand
}

.combo-box{
    -fx-background-color: transparent;
    -fx-background-radius: 15;
    -fx-border-width: .4;
    -fx-border-radius: 15;
    -fx-border-color: #787878;
}

.text-field{
    -fx-background-color: transparent;
    -fx-border-width: .4;
    -fx-border-radius: 5;
    -fx-border-color: #787878;
}

/* Table View Design */

.table-view{
    -fx-background-color: transparent;
    -fx-border-width: .4;
    -fx-border-radius: 5;
    -fx-border-color: #787878;
    -fx-padding: 0
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #A75D5D, #F0997D);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 5
}

.table-view .column-header{
    -fx-background-color: transparent;
    -fx-size: 40
}

.table-view .column-header .label{
    -fx-text-fill: #fff
}